
.app-wrapper{
  display: grid;
  width: 100%;
  max-width: 1400px;
  margin: 30px auto;
  grid-template-areas: 
  "h h"
  "n c";
  grid-template-columns: 2fr 10fr;

}

.app-wrapper-content{
  grid-area: c;
  background-color: wheat;
  width: 100%;
  max-width: 1400px;
  overflow: hidden;
}

